/project/cmake-build-debug/.ninja_deps
/project/cmake-build-debug/.ninja_log
/project/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdC/a.exe
/project/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdCXX/a.exe
/project/cmake-build-debug/build.ninja
/project/cmake-build-debug/.cmake/api/v1/query/cache-v2
/project/cmake-build-debug/.cmake/api/v1/reply/cache-v2-093c35c7c02010117581.json
/project/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/project/cmake-build-debug/CMakeFiles/clion-environment.txt
/project/cmake-build-debug/CMakeFiles/cmake.check_cache
/project/cmake-build-debug/cmake_install.cmake
/project/cmake-build-debug/CMakeCache.txt
/project/cmake-build-debug/CMakeFiles/3.30.5/CMakeCCompiler.cmake
/project/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdC/CMakeCCompilerId.c
/project/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/project/cmake-build-debug/CMakeFiles/3.30.5/CMakeCXXCompiler.cmake
/project/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
/project/cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_C.bin
/project/cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_CXX.bin
/project/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/project/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-858df2ec6e8f14b564de.json
/project/cmake-build-debug/CMakeFiles/3.30.5/CMakeRCCompiler.cmake
/project/cmake-build-debug/CMakeFiles/3.30.5/CMakeSystem.cmake
/project/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/project/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-a32cff2bd7eb09b02607.json
/project/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/project/cmake-build-debug/CMakeFiles/project.dir/image_utils.cpp.obj
/project/cmake-build-debug/.cmake/api/v1/reply/index-2024-12-27T21-50-38-0347.json
/project/cmake-build-debug/Input1.jpg
/project/cmake-build-debug/INPUT1.PPM
/project/cmake-build-debug/Results/Input1_bin.JPG
/project/cmake-build-debug/Results/Input1_bin.JPG_integral_sauvola.png
/project/cmake-build-debug/Results/Input1_bin.JPG_nick.png
/project/cmake-build-debug/Results/Input1_bin.JPG_sauvola.png
/project/cmake-build-debug/Results/Input1_bin_nick_WinSize3.png
/project/cmake-build-debug/Results/Input1_bin_nick_WinSize9.png
/project/cmake-build-debug/Results/Input1_bin_nick_WinSize15.png
/project/cmake-build-debug/Results/Input1_bin_nick_WinSize50.png
/project/cmake-build-debug/Results/Input1_bin_sauvola_WinSize3.png
/project/cmake-build-debug/Results/Input1_bin_sauvola_WinSize9.png
/project/cmake-build-debug/Results/Input1_bin_sauvola_WinSize15.png
/project/cmake-build-debug/Results/Input1_bin_sauvola_WinSize50.png
/project/cmake-build-debug/INPUT1_PNG.png
/project/cmake-build-debug/Input2.jpg
/project/cmake-build-debug/INPUT2.PPM
/project/cmake-build-debug/Testing/Temporary/LastTest.log
/project/cmake-build-debug/CMakeFiles/project.dir/main.cpp.obj
/project/cmake-build-debug/CMakeFiles/FindOpenMP/ompver_C.bin
/project/cmake-build-debug/CMakeFiles/FindOpenMP/ompver_CXX.bin
/project/cmake-build-debug/project.exe
/project/cmake-build-debug/CMakeFiles/rules.ninja
/project/cmake-build-debug/.cmake/api/v1/reply/target-project-Debug-37d25ac7c1612d33563c.json
/project/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/project/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/project/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-f1b2b3b9642b509dfa7c.json
